:root  {
    var(--iris, #4D5AE5);
    var(--ocean, #404BBF);
    var(--navyblue, #2E2F42);
    var(--green, #31D0AA);
    var(--slate, #434455);
    var(--lightslate, #8E8F99);
    var(--cornflower, #E7E9FC);
    var(--cloud, #F4F4FD);
    var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    var(--grey, rgba(46, 47, 66, 0.70));
    var(--white, #FFF);
    var(--navyblue-modal, rgba(46, 47, 66, 0.40));

}


body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.nav-logo{
    color: var(--navyblue, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}


.iris-logo{
    color: var(--iris, #4D5AE5);
}


.nav-list{
    list-style: none;
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;

}

.nav-list a{
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
}


.address-contacts-list{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    list-style: none;
}

.address-contacts-list a{
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
}

.section-title-heading{
    
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: 1.12px;
color: var(--white, #FFF);
text-align: center;
}

.section-hero{
    background: var(--navyblue, #2E2F42);
}

.section-hero button{
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
color: var(--white, #FFF);
}

.features-list{
    list-style: none;
}

.feature-list-title{
    font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
color: var(--navyblue, #2E2F42);
}

.features-list-description{
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
color: var(--slate, #434455);
}

.section-title{
    color: var(--navyblue, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}

.service-image{
    list-style: none;
}

.team-list{
    list-style: none;
}

.team-member{
    font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
color: var(--navyblue, #2E2F42);
text-align: center;
}

.team-position{
    color: var(--slate, #434455);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}

.white-logo{
    color: var(--cloud, #F4F4FD);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.footer-paragraph{
    color: var(--cloud, #F4F4FD);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}

footer{
    background: var(--navyblue, #2E2F42);
}




.top-buttons{
    list-style: none;
    padding: 12px 24px;
    border-radius: 4px;
}

.top-buttons button{
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    color: var(--iris, #4D5AE5);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;

}

.portfolio-features-list-item{
    list-style: none;
}

.address-contacts-list a:hover{
    color: #4D5AE5;
}

.nav-list a:hover{
    color: #4D5AE5;
}

.top-buttons button:hover{
    color: #FFF;
    background-color: #4D5AE5;
}

.section-hero button:hover{
    cursor: pointer;
    background-color: #434455;
}