:root  {
    var(--iris, #4D5AE5);
    var(--ocean, #404BBF);
    var(--navyblue, #2E2F42);
    var(--green, #31D0AA);
    var(--slate, #434455);
    var(--lightslate, #8E8F99);
    var(--cornflower, #E7E9FC);
    var(--cloud, #F4F4FD);
    var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    var(--grey, rgba(46, 47, 66, 0.70));
    var(--white, #FFF);
    var(--navyblue-modal, rgba(46, 47, 66, 0.40));

}



body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.fillers p{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    
}

a.nav-logo{
    color: var(--navyblue, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}


.iris-logo{
    color: var(--iris, #4D5AE5);
}



nav li a{
    text-decoration: none;
    color: black;
}

header .contacts li a{
    text-decoration: none;
    color: black;
}

.section-title-heading{
    font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: 1.12px;
}

.section-title{
    font-style: normal;
font-weight: 700;
}



















header .contacts li a:hover{
    color: rgba(77, 90, 229, 1);
    cursor: pointer;
}

nav li a:hover{
    color: rgba(77, 90, 229, 1);
}


.fillers ul{
    list-style: none;
}

nav li{
    list-style: none;
    text-decoration: none;
}

nav{
    font-weight: 500;
}

.contacts li{
    list-style: none;
}


.title{
    background-color: rgba(46, 47, 66, 1);
}

.title h1{
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: white;
    line-height: 107.143%;
}

.title button{
    color: white;
    background-color: rgba(77, 90, 229, 1);
    display: inline-flex;
    padding: 10px 16px;
    align-items: flex-start;
}

.wedo h2{
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 111.111%;
}

.wedo li{
    list-style: none;
}

.team h2{
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 111.111%;
}

.team h3{
    text-align: center;
}

.team p{
    text-align: center;
}

.team li{
    list-style: none;
}

footer{
    background-color: rgba(46, 47, 66, 1);
}

footer p{
    color: white;
}


.top-buttons{
    list-style: none;
}

button{
    color: rgba(77, 90, 229, 1);
    font-weight: 600;
    background-color: rgba(244, 244, 253, 1);
    border: none;
    padding: 5px;
}

button:hover{
    background-color: rgba(64, 75, 191, 1);
    color: white;
}